
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-analytics.js"></script>
<div class="dash_doc">
  <h1>DOCTOR DASHBOARD : {{doctor_id}}</h1>
</div>
    {{#each patient_details}}
          <div class="row w-100 d-flex justify-content-center mt-3 mt-md-5 mt-sm-3 align-items-start">
              <div class="col-md-8 col-sm-10 justify-content-center mb-4">
                  <div class="card p-3">
                    <div>
                      <h5 class="card-title">Patient_id:{{this._id}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Name: {{this.name}}</h6>
                      <h6 class="card-title text-danger">Email: {{this.email}}</h6>
                      <a class="card-link text-center btn" data-bs-toggle="collapse" data-bs-target="#{{this._id}}">Test Details</a>
                    </div>
                    <table class="table table-striped collapse fade" id="{{this._id}}">
                        <thead>
                          <tr>
                            <th scope="col">Disease</th>
                            <th scope="col">Disease ID</th>
                            <th scope="col">Details</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{#each this.tests}}
                          <tr>
                            <th scope="row">{{this.title}}</th>
                            <td>{{this.id}}</td>
                            <td>
                              <form method="GET" action="./{{this.title}}/{{this.id}}/">
                                <button class="btn btn-info">Details</button>
                              </form>
                            </td>
                          </tr>
                        {{/each}}
                        </tbody>
                    </table>
                  </div>
              </div>
          </div>


              {{/each}}
                  </div>

              <span class="d-flex justify-content-end" id="add_new_patient" data-toggle="modal" data-target="#exampleModalCenter">
                <a href=""  onclick="addNewPatient()" data-bs-toggle="modal" data-bs-target="#addTest"><img  src="../../Images/plus.png" alt="" class="" height="50px" width="50px"></a>
              </span>


          </div>
      </div>


  <!-- Modal -->
  <div class="modal fade" id="addTest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ADD PATIENT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="add_Details" method="POST" action="/doctor/dashboard/{{doctor_id}}">
            <label>Patient id : </label>
            <input type="text" name="Patient_name">
            <br>
            <br>
            <label>Disease Id: </label>
            <input type="text" name="dis_id">
            <br>
            <br>
            <label for="addDisease">Disease Type: </label>
            <select  id="addDisease" name="addDisease">
              <option value="Cancer">Cancer</option>
              <option value="Throat Tumor">Throat Tumor</option>
              <option value="Heart Disease">Heart Disease</option>
              <option value="Diabetes">Diabetes</option>
            </select>
            <br>
            <br>
            <ul id="detailDisease">

            </ul>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

<script>

  {{!-- var firebaseConfig = {
      apiKey: "AIzaSyCdwwGMcKmt-3jRw-jZMdmIR4AG1B03WaQ",
      authDomain: "elegant-tangent-306908.firebaseapp.com",
      projectId: "elegant-tangent-306908",
      storageBucket: "elegant-tangent-306908.appspot.com",
      messagingSenderId: "515541513081",
      appId: "1:515541513081:web:13b1c8513f3414a641b5a8",
      measurementId: "G-5J9SMSDCE0"
  }; --}}
  var firebaseConfig = {
    apiKey: "AIzaSyBcelzXn0WwRk2xxnQlnt77m4rsoeVTVqc",
    authDomain: "raas-842a2.firebaseapp.com",
    databaseURL: "https://raas-842a2-default-rtdb.firebaseio.com",
    projectId: "raas-842a2",
    storageBucket: "raas-842a2.appspot.com",
    messagingSenderId: "935267522259",
    appId: "1:935267522259:web:01e70f320446c51164a626",
    measurementId: "G-86FLHWE4XW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.anlytics();



</script>

<script>

function addNewPatient(){
  var element=document.querySelectorAll(".row .col-12");
  if(element.length%2==0){
    document.querySelectorAll('')
  }
}

  var s1= document.getElementById("addDisease");
  var s2= document.getElementById("detailDisease");

  s1.addEventListener('change',function(){
    s2.innerHTML="";
    var selected_option= this.value;
    if(selected_option =="Cancer"){
      var fields=["Radius_mean","Perimeter_mean","Area_mean","Concavity_mean","Concave_points_mean","Radius_se","Area_se","Radius_worst","Texture_worst","Perimeter_worst","Area_worst","Compactness_worst","Concavity_worst","Concave_points_worst"];

      var name = ["Radius_mean","Perimeter_mean","Area_mean","Concavity_mean","Concave_points_mean","Radius_se","Area_se","Radius_worst","Texture_worst","Perimeter_worst","Area_worst","Compactness_worst","Concavity_worst","Concave_points_worst"];

      for(var i=0;i<fields.length;i++){
        var list = document.createElement("LI");
        var br =   document.createElement("BR");
        var lab = document.createElement("LABEL");
        var textnode = document.createTextNode(fields[i]+":  ");
        lab.appendChild(textnode);
        var node=document.createElement("INPUT");
        node.type="number";
          node.step="any";
        node.name=name[i];
        list.appendChild(lab);
        document.getElementById("detailDisease").appendChild(list);
        list.appendChild(node);
        document.getElementById("detailDisease").appendChild(list);
        document.getElementById("detailDisease").appendChild(br);
  }
    }
    else if(selected_option =="Diabetes"){
      var fields=["Pregnancies","Glucose","Blood Pressure","Skin Thickness","Insulin","BMI","Diabetes Pedigree Function","Age"];
      var name=["Pregnancies","Glucose","Blood_Pressure","Skin_Thickness","Insulin","BMI","Diabetes_Pedigree_Function","Age"];

      var i=1;
      for(i=0;i<fields.length;i++){
        var list = document.createElement("LI");
        var br =   document.createElement("BR");
        var lab= document.createElement("LABEL");
        var textnode = document.createTextNode(fields[i]+":- ");
        lab.appendChild(textnode);
        var node=document.createElement("INPUT");
        node.type="number";
          node.step="any";
        node.name=name[i];
        list.appendChild(lab);
        document.getElementById("detailDisease").appendChild(list);
        list.appendChild(node);
        document.getElementById("detailDisease").appendChild(list);
        document.getElementById("detailDisease").appendChild(br);
      }
    }


    else if(selected_option =="Heart Disease"){
      var fields=["Age","Sex","CP","Trestbps","Chol","FBS","RestECG","Thalach","Exang","Old_peak","Slope","CA","Thal"];
      var name=["Age","Sex","CP","Trestbps","Chol","FBS","RestECG","Thalach","Exang","Old_peak","Slope","CA","Thal"];

      var i=1;
      for(i=0;i<fields.length;i++){
        var list = document.createElement("LI");
        var br =   document.createElement("BR");
        var lab= document.createElement("LABEL");
        var textnode = document.createTextNode(fields[i]+":- ");
        lab.appendChild(textnode);
        var node=document.createElement("INPUT");
        node.type="number";
        node.step="any";
          node.name=name[i];
        list.appendChild(lab);
        document.getElementById("detailDisease").appendChild(list);
        list.appendChild(node);
        document.getElementById("detailDisease").appendChild(list);
        document.getElementById("detailDisease").appendChild(br);
      }
    }
    else if(selected_option =="Throat Tumor"){
      var list = document.createElement("LI");
      var br =   document.createElement("BR");
      var lab= document.createElement("LABEL");
      var textnode = document.createTextNode("Upload the image:- ");
      lab.appendChild(textnode);
      var node=document.createElement("INPUT");
      node.type="file";
      node.name="throat_photo";
      node.id="photo"
      var node1=document.createElement("BUTTON");
      node1.type="button";
      node1.onclick= uploadImage;
      var textButton = document.createTextNode("Save Image");
      node1.appendChild(textButton);
      list.appendChild(lab);
      document.getElementById("detailDisease").appendChild(list);
      list.appendChild(node);
      document.getElementById("detailDisease").appendChild(list);
      list.appendChild(node1);
      document.getElementById("detailDisease").appendChild(list);
      document.getElementById("detailDisease").appendChild(br);

    }

    function uploadImage(){
      const ref = firebase.storage().ref()
      const file = document.querySelector('#photo').files[0];
      const name = file.name

      const metadata = {
        contentType: file.type,
      }
      const task = ref.child("mri_images/"+name).put(file, metadata)

      task
        .then(snapshot => snapshot.ref.getDownloadURL())
        .then(url => {
          console.log(url)
          alert("image added")
          const imagei = document.querySelector('#image')
          imagei.src = url
        })
    }
  }
);

</script>
<script src="index.js"></script>
